body{
    background-color: rgb(15, 128, 228);
    align-items: center;
    height: 100%;
    margin: 0;
}
h1{
    color: white;
    background-color: black;
    margin: 20px;
    margin-left: 300px;
    width: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    border-radius:30px ;
    border: 10px solid white;
    text-shadow: 20px 20px 20px red;
}
.theter{
    background-color: rgb(81, 160, 230);
    border: 10px solid rgb(163, 160, 160);
    border-radius: 30px;
    box-shadow: 0 0 50px;
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 30px;
    margin-left: 400px;
}
.bottom{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    border: 10px solid white;
    background-color: gray;
    width: 20%;
    text-align: center;
    text-shadow: 0 0 20px;
    margin-left: 450px;
}
